<h2> hello</h2>

<% @tasks.each do |task| %>
<h2>Task: <%= task.title %></h2>
<h3> Description: <%= task.description %></h3>
<%= link_to 'Show', task_path(task) %>
<%= link_to 'Delete', task_path(task), method: :delete %>
<% end %>

<%= link_to 'Create New Task', new_task_path %>
